# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist

# misc
.DS_Store
.env*
/.nx
/.nx/cache
/.vscode/*
!/.vscode/extensions.json
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

# Optional eslint cache
.eslintcache

.vercel
automatic-map-473619-b7-firebase-adminsdk-fbsvc-b9ac9f3c28.json.replit
replit.md
