@import url("https://fonts.cdnfonts.com/css/itc-souvenir"); /*import itc-souvenir*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap"); /*import dm-sans*/

/* Dashboard page styles */
.dashboard-container {
  height: 100%;
  background-color: var(--ion-color-secondary);
}

.dashboard-content {
  --background: var(--ion-color-secondary);
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 16px;
  background-color: var(--ion-color-secondary);
}

.dashboard-title {
  font-family: "ITC Souvenir", serif;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  font-style: bold;
  color: var(--ion-color-primary);
  margin: 0;
}

.filter-button {
  --padding-start: 8px;
  --padding-end: 8px;
  --background: transparent;
  --background-hover: transparent;
  --background-activated: transparent;
  --background-focused: transparent;
  --box-shadow: none;
  --border-radius: 0;
  margin: 0;
}

.filter-icon {
  width: 28px;
  height: 28px;
  color: var(--ion-color-primary);
}

.filter-active {
  color: #4ecdc4;
}

.dashboard-search-section {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px 16px 20px;
  background-color: var(--ion-color-secondary);
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dashboard-searchbar {
  --background: #ffffff;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --border-radius: 12px;
  --placeholder-color: #9ca3af;
  --icon-color: #9ca3af;
  padding: 0;
  flex-grow: 1;
  /* Allow searchbar to take available space */
  margin-right: 10px;
  /* Add some space between searchbar and button */
}

.dashboard-items {
  padding: 10px 16px 100px 16px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 12px;
  padding: 12px;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  color: var(--ion-color-primary);
  opacity: 0.6;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  color: var(--ion-color-dark);
}

.empty-state ion-icon {
  font-size: 64px;
  margin-bottom: 16px;
}

.loading-state {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  color: var(--ion-color-medium);
  font-size: 16px;
}

ion-infinite-scroll-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.error-state {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  color: var(--ion-color-danger);
  font-size: 16px;
  text-align: center;
  padding: 20px;
}

.dashboard-container,
.dashboard-content,
.empty-state,
.loading-state,
.error-state {
  font-family:
    "DM Sans",
    -apple-system;
}
