.top-navbar {
  height: var(--top-navbar-height);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--ion-color-primary);
  /* Using primary color from variables.css */
  padding: 10px 15px;
  color: white;
}

.navbar-logo {
  height: 30px;
  cursor: pointer;
  margin-left: 16px;
}

.navbar-hamburger {
  height: 32px;
  margin-right: 16px;

  /* Ensure icons are white on primary background */
  color: ion-color-primary-contrast;
  transition: transform 0.2s ease;
}

.navbar-hamburger:hover {
  transform: scale(1.1);
}

.navbar-signout {
  margin-right: 12px;
}
