/* Top Navbar - Seller Side Styling matching Dashboard */
.top-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background: #023e38;
  z-index: 1000;
}

/* Logo positioned at exact Figma specs */
.top-navbar .logo {
  position: absolute;
  left: 26.9px;
  top: 17.24px;
}

/* Hamburger menu positioned at exact Figma specs */
.top-navbar-menu-button {
  --padding-start: 0;
  --padding-end: 0;
  position: absolute;
  right: 7.95%;
  top: 19px;
  margin: 0;
  width: 32px;
  height: 32px;
}

.top-navbar-menu-button ion-icon {
  font-size: 32px;
  color: #ffffff;
}
